.events-b{
    background-image:url("../images/background-image.jpg");
}

.gallery-b{
    background-color: #CEFFCE;
}

.index-b{
    background-image:url("../images/background-image.jpg");
}
.container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas:
    "nav"
    "main"
    "footer";
}
.nav{
    border: 3px solid seashell;
    grid-area: nav; 
}
.main{
    border: 3px solid seashell;
    grid-area: main; 
}

.footer {
    border: 3px solid seashell;
    grid-area: footer; 
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th, td {
    padding: 10px;
    border: 1px solid #f1f1f1;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

.dropbtn {
background-image: linear-gradient(rgb(47, 128, 0), rgb(240, 238, 180));
color: black;
padding: 16px;
border-radius: 15px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
font-size: 16px;
border: none;
cursor: pointer;
transition: color 0.3s ease-in-out;
}
.dropbtn:hover {
    color: greenyellow; 
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
list-style-type: none;
transition: color 0.3s ease-in-out;
}
.dropdown-content li{
list-style-type:circle;
}
.zag{
    transform: scale(1.1);
}
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: greenyellow}


.dropdown:hover .dropdown-content {
display: block;
}



.dropdown:hover .dropbtn {
background-color: #3e8e41;
}
h1{
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size:x-large;
font-style:italic;
}


@font-face {
    font-family:"NewAsterLtRoman";
    src: url("/fonts/NewAsterLtRoman.ttf") format("truetype");
}
p {
    font-family: "NewAsterLtRoman", Arial, sans-serif;
    font-size: medium;}

.main-i{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
from {
    margin-left: 100%;
    width: 300%;
    }
to {
    margin-left: 0%;
    width: 100%;
    }
}

P:first-letter {
    font-family: "NewAsterLtRoman", Arial, sans-serif;
    font-size: 110%;
    color: red; 
}

p > strong {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

ol[table] {
    font-family: "NewAsterLtRoman", Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: medium;
}

i[site] {
    font-family: "NewAsterLtRoman", Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: medium;
}

ul li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellowgreen;
}
.text-zg{
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(165, 198, 117);
}

p > i{
    text-decoration: underline;
    vertical-align:baseline;
    line-height: 10px;
    color: red;
}

.zgk{
    text-indent: 20px;
}

.photo-flag {
    display: inline-block;
    width: 30px;
    height: 20px;
    background: linear-gradient(
       to bottom,
       #fff 0%,
       #fff 33.3%,
       #0052a5 33.3%,
       #0052a5 66.6%,
       #d52b1e 66.6%,
       #d52b1e 100%
    );
    position: relative;
}
.photo-flag:hover::after {
    content: attr(data-title); 
    position: absolute; 
    left: 40%; top: 0%; 
    z-index: 1; 
    background: rgba(255,255,230,0.9); 
    font-size: 10px; 
    padding: 5px 15px; 
    border: 1px solid #333; 
   }

.gallery{
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: stretch;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

.gallery li img{
    width: 300px;
    height: 300px;
    transition: width 3s, height 3s;
    
}
.gallery li img:hover {
    width: 350px;
    height: 350px;
}
@media screen and (max-width: 500px) {
    .gallery{
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: flex-start;
    }
}

@media screen and (max-width: 500px) {
    .main-i{
        max-width: 100%;
    }    
    .image-i img {
        max-width: 100%;
        height: auto;
        width: auto;
    }
}
@keyframes go-left-right {       
    from { left: 0px; }             
    to { left: calc(100% - 50px); } 
}
.progress {
    animation: go-left-right 10s infinite alternate;
    position: relative;
    border: 2px solid blue;
    width: 115px;
    height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(119, 165, 224);
}